#info{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.animate__animated.animate__fadeInLeft{
	--animate-delay:2s;
	--animate-duration:8s;
}

.info-tec .animate__animated.animate__bounce{
	--animate-duration:6s;
	--animate-delay:2s;
	 
}

.info-tec .animate__animated.animate__flip{
	--animate-duration:7s;
	--animate-delay:2s;

	
}


.info-tec{
	margin: 20px;
}

.info-tec img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border:7px solid purple;
}

@media (min-width:480px){
	.info-tec{
		width: 40%;
	}
}

@media (min-width:1024px){
	.info-tec{
		width: auto;
	}
	.animate__animated.animate__fadeInLeft{
	--animate-delay:2s;
	--animate-duration:8s;
}

.info-tec .animate__animated.animate__bounce{
	--animate-duration:6s;
	--animate-delay:2s;
	 
}

.info-tec .animate__animated.animate__flip{
	--animate-duration:7s;
	--animate-delay:2s;

	
}
}